*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: gray;
    display: flex;
}

.container{
    width: 80%;
    height: 50%;
    background-color: white;
    margin: auto;
}

.container-header{
    text-align: center;
    margin-bottom: 50px;
}

.container-body{
    width: 50%;
    background-color: lightgray;
    margin: auto;
}

.logo{
    width: 300px;
}

.input-todo{
    width: 40%;
}

li{
    display: flex;
    justify-content: space-between;
}

.text2{
    text-decoration: line-through;
}